In [75]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

train = pd.read_csv('train_weather_fool.csv')
test = pd.read_csv('test2.csv')

In [76]:
for i in test.columns:
    print i

Unnamed: 0
Tmax
Tmin
Tavg
DewPoint
Heat
Cool
PrecipTotal
StnPressure
ResultDir
AvgSpeed
Block
Latitude
Longitude
T002
T007
T015
T045
T046
T048
T049
T050
T054
T086
T091
T094
T096
T129
T143
T148
T153
T159
T009
T011
T016
T019
T025
T028
T031
T033
T089
T090
T092
T135
T141
T142
T145
T146
T147
T149
T150
T151
T152
T154
T158
T162
T218
T220
T003
T006
T008
T012
T034
T037
T040
T043
T047
T051
T085
T088
T161
T219
T013
T014
T018
T030
T084
T144
T160
T005
T017
T044
T095
T004
T035
T036
T039
T060
T061
T062
T065
T066
T067
T069
T070
T071
T073
T074
T075
T076
T077
T079
T080
T081
T082
T083
T114
T155
T063
T115
T138
T200
T206
T209
T212
T215
T107
T128
T072
T078
T097
T099
T100
T102
T103
T027
T156
T157
T221
T900
T903
T222
T223
T225
T227
T224
T226
T229
T230
T228
T232
T231
T235
T233
T236
T237
T238
T094B
CULEX PIPIENS/RESTUANS
CULEX RESTUANS
CULEX PIPIENS
CULEX SALINARIUS
CULEX TERRITANS
CULEX TARSALIS
Id

In [77]:
train.head()

,Station,Date,Tmax,Tmin,Tavg,DewPoint,Heat,Cool,PrecipTotal,StnPressure,...,T238,T094B,T054C,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX PIPIENS,CULEX SALINARIUS,CULEX TERRITANS,CULEX TARSALIS,CULEX ERRATICUS
0,1,2007-05-29,88,60,74,58,0,9,0.0,29.39,...,0,0,0,1,0,1,0,0,0,0
1,1,2007-05-29,88,60,74,58,0,9,0.0,29.39,...,0,0,0,0,1,0,0,0,0,0
2,1,2007-05-29,88,60,74,58,0,9,0.0,29.39,...,0,0,0,0,1,0,0,0,0,0
3,1,2007-05-29,88,60,74,58,0,9,0.0,29.39,...,0,0,0,1,0,1,0,0,0,0
4,1,2007-05-29,88,60,74,58,0,9,0.0,29.39,...,0,0,0,0,1,0,0,0,0,0

In [108]:
X = train[['Tmax', 'Tmin', 'Tavg', 'DewPoint', 'Heat', 'Cool', 'PrecipTotal', 
                          'StnPressure', 'ResultDir', 'AvgSpeed', 'Block','T002', 'T007', 'T015', 'T045', 'T046', 'T048', 'T049', 
                          'T050', 'T054', 'T086', 'T091', 'T094', 'T096', 'T129', 'T143', 'T148', 
                          'T153', 'T159', 'T009', 'T011', 'T016', 'T019', 'T025', 'T028', 'T031', 
                          'T033', 'T089', 'T090', 'T092', 'T135', 'T141', 'T142', 'T145', 'T146',
                          'T147', 'T149', 'T150', 'T151', 'T152', 'T154', 'T158', 'T162', 'T218', 
                          'T220', 'T003', 'T006', 'T008', 'T012', 'T034', 'T037', 'T040', 
                          'T043', 'T047', 'T051', 'T085', 'T088', 'T161', 'T219', 'T013', 'T014', 
                          'T018', 'T030', 'T084', 'T144', 'T160', 'T005', 'T017', 'T044', 'T095', 
                          'T004', 'T035', 'T036', 'T039', 'T060', 'T061', 'T062', 'T065', 'T066', 
                          'T067', 'T069', 'T070', 'T071', 'T073', 'T074', 'T075', 'T076', 'T077', 
                          'T079', 'T080', 'T081', 'T082', 'T083', 'T114', 'T155', 'T063', 'T115', 
                          'T138', 'T200', 'T206', 'T209', 'T212', 'T215', 'T107', 'T128', 'T072', 
                          'T078', 'T097', 'T099', 'T100', 'T102', 'T103', 'T027', 'T156', 'T157', 
                          'T221', 'T900', 'T903', 'T222', 'T223', 'T225', 'T227', 'T224', 'T226', 
                          'T229', 'T230', 'T228', 'T232', 'T231', 'T235', 'T233', 'T236', 'T237', 
                          'T238', 'T094B', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS', 'CULEX PIPIENS', 
                          'CULEX SALINARIUS', 'CULEX TERRITANS', 'CULEX TARSALIS']]

y = train['WnvPresent']

rf_train = RandomForestClassifier(n_estimators=50)
rf_train.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=50, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [109]:
y_pred = rf_train.predict(X)
print confusion_matrix(y,y_pred)

[[19861    49]
 [  351   751]]

In [110]:
print accuracy_score(y_pred, y)

0.98096325909

In [111]:
print classification_report(y ,y_pred)

             precision    recall  f1-score   support

          0       0.98      1.00      0.99     19910
          1       0.94      0.68      0.79      1102

avg / total       0.98      0.98      0.98     21012

In [112]:
rf_features = pd.DataFrame(rf_train.feature_importances_,
                                   index = X.columns,
                                    columns=['importance']).sort_values('importance',
                                                                        ascending=False)
rf_features.head(10)

                        importance
CULEX PIPIENS/RESTUANS    0.102379
Block                     0.088611
AvgSpeed                  0.042775
DewPoint                  0.037663
ResultDir                 0.037189
Tmax                      0.036726
StnPressure               0.035560
Tmin                      0.033004
Tavg                      0.030601
Cool                      0.029002

In [113]:
y_pred_class = rf_train.predict(test.drop(['Unnamed: 0','Latitude', 'Longitude', 'Id'], axis=1))

In [114]:
y_pred_class

array([0, 0, 0, ..., 0, 0, 0])

In [115]:
Y_pp = pd.DataFrame(rf_train.predict_proba(test.drop(['Unnamed: 0', 'Latitude', 'Longitude', 'Id'], axis=1)), columns=['Negative','Positive'])
print(Y_pp.iloc[0:10])

   Negative  Positive
0      0.99      0.01
1      0.98      0.02
2      0.86      0.14
3      0.94      0.06
4      1.00      0.00
5      0.94      0.06
6      0.94      0.06
7      0.94      0.06
8      0.98      0.02
9      0.96      0.04

In [116]:
Y_pp['pred_class_thresh50'] = [1 if x >= 0.50 else 0 for x in Y_pp.Positive.values]

In [117]:
Y_pp['Id'] = test['Id']

In [118]:
Y_pp['WnvPresent'] = Y_pp['pred_class_thresh50']

In [119]:
RandomForest = pd.DataFrame()
RandomForest['Id'] = Y_pp['Id']
RandomForest['WnvPresent'] = Y_pp['WnvPresent']

In [120]:
RandomForest.head()

   Id  WnvPresent
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0

In [121]:
RandomForest.to_csv('rfsubmit.csv', index=False)