In [35]:
import pandas as pd
import numpy as np

test = pd.read_csv('test.csv')
weather = pd.read_csv('weather.csv')

In [36]:
test_weather = pd.merge(weather, test, how= "inner", left_on='Date', right_on='Date')

In [37]:
test_weather.columns

Index([u'Station', u'Date', u'Tmax', u'Tmin', u'Tavg', u'Depart', u'DewPoint',
       u'WetBulb', u'Heat', u'Cool', u'Sunrise', u'Sunset', u'CodeSum',
       u'Depth', u'Water1', u'SnowFall', u'PrecipTotal', u'StnPressure',
       u'SeaLevel', u'ResultSpeed', u'ResultDir', u'AvgSpeed', u'Id',
       u'Address', u'Species', u'Block', u'Street', u'Trap',
       u'AddressNumberAndStreet', u'Latitude', u'Longitude',
       u'AddressAccuracy'],
      dtype='object')

In [38]:
test_weather = test_weather.applymap(lambda x: np.nan if x == 'M' else x)

test_weather['PrecipTotal'].replace(regex=True,inplace=True,to_replace=r'T',value=0.005)

In [39]:
test_weather.Tavg.fillna(method='pad', inplace=True)

test_weather.Tavg.fillna(method='pad', inplace=True)

test_weather.DewPoint.fillna(method='pad', inplace=True)

test_weather.WetBulb.fillna(method='pad', inplace=True)

test_weather.Heat.fillna(method='pad', inplace=True)

test_weather.Cool.fillna(method='pad', inplace=True)

test_weather.PrecipTotal.fillna(method='pad', inplace=True)

test_weather.StnPressure.fillna(method='pad', inplace=True)

test_weather.SeaLevel.fillna(method='pad', inplace=True)

test_weather.AvgSpeed.fillna(method='pad', inplace=True)

In [40]:
test_weather.drop(["Depth", "Water1", "SnowFall",'Depart', 'CodeSum', 'Sunset', 'Sunrise', 'WetBulb','ResultSpeed','SeaLevel'], inplace=True, axis=1)

In [41]:
test_weather['Heat'] = [float(x) for x in test_weather.Heat]

test_weather['Cool'] = [float(x) for x in test_weather.Cool]

test_weather['StnPressure'] = [float(x) for x in test_weather.StnPressure]

test_weather['AvgSpeed'] = [float(x) for x in test_weather.AvgSpeed]

test_weather['PrecipTotal'] = [float(x) for x in test_weather.PrecipTotal]

In [42]:
test_weather.isnull().sum()

Station                   0
Date                      0
Tmax                      0
Tmin                      0
Tavg                      0
DewPoint                  0
Heat                      0
Cool                      0
PrecipTotal               0
StnPressure               0
ResultDir                 0
AvgSpeed                  0
Id                        0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
dtype: int64

In [43]:
test_weather.dtypes

Station                     int64
Date                       object
Tmax                        int64
Tmin                        int64
Tavg                       object
DewPoint                    int64
Heat                      float64
Cool                      float64
PrecipTotal               float64
StnPressure               float64
ResultDir                   int64
AvgSpeed                  float64
Id                          int64
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
dtype: object

In [44]:
traps = ['T002', 'T007', 'T015', 'T045', 'T046', 'T048', 'T049', 'T050',
       'T054', 'T086', 'T091', 'T094', 'T096', 'T129', 'T143', 'T148',
       'T153', 'T159', 'T009', 'T011', 'T016', 'T019', 'T025', 'T028',
       'T031', 'T033', 'T089', 'T090', 'T092', 'T135', 'T141', 'T142',
       'T145', 'T146', 'T147', 'T149', 'T150', 'T151', 'T152', 'T154',
       'T158', 'T162', 'T218', 'T220', 'T001', 'T003', 'T006', 'T008',
       'T012', 'T034', 'T037', 'T040', 'T043', 'T047', 'T051', 'T085',
       'T088', 'T161', 'T219', 'T013', 'T014', 'T018', 'T030', 'T084',
       'T144', 'T160', 'T005', 'T017', 'T044', 'T095', 'T004', 'T035',
       'T036', 'T039', 'T060', 'T061', 'T062', 'T065', 'T066', 'T067',
       'T069', 'T070', 'T071', 'T073', 'T074', 'T075', 'T076', 'T077',
       'T079', 'T080', 'T081', 'T082', 'T083', 'T114', 'T155', 'T063',
       'T115', 'T138', 'T200', 'T206', 'T209', 'T212', 'T215', 'T107',
       'T128', 'T072', 'T078', 'T097', 'T099', 'T100', 'T102', 'T103',
       'T027', 'T156', 'T157', 'T221', 'T900', 'T903', 'T222', 'T223',
       'T225', 'T227', 'T224', 'T226', 'T229', 'T230', 'T228', 'T232',
       'T231', 'T235', 'T233', 'T236', 'T237', 'T238', 'T094B', 'T054C']

def codesum_vars():
    for i in traps:
        test_weather[i] = test_weather['Trap'].str.contains(i,regex=True).astype(int)
codesum_vars()

In [45]:
test_weather['T228'].value_counts()

0    231058
1      1528
Name: T228, dtype: int64

In [46]:
species = ['CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS', 'CULEX PIPIENS',
       'CULEX SALINARIUS', 'CULEX TERRITANS', 'CULEX TARSALIS',
       'CULEX ERRATICUS']

def codesum_vars():
    for i in species:
        test_weather[i] = test_weather['Species'].str.contains(i,regex=True).astype(int)
codesum_vars()

In [47]:
test_weather.drop(['Address','Species', 'Street','Trap','AddressNumberAndStreet','AddressAccuracy'],inplace=True, axis=1)

In [48]:
test_weather.head()

,Station,Date,Tmax,Tmin,Tavg,DewPoint,Heat,Cool,PrecipTotal,StnPressure,...,T238,T094B,T054C,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX PIPIENS,CULEX SALINARIUS,CULEX TERRITANS,CULEX TARSALIS,CULEX ERRATICUS
0,1,2008-06-11,86,61,74,56,0.0,9.0,0.0,29.28,...,0,0,0,1,0,1,0,0,0,0
1,1,2008-06-11,86,61,74,56,0.0,9.0,0.0,29.28,...,0,0,0,0,1,0,0,0,0,0
2,1,2008-06-11,86,61,74,56,0.0,9.0,0.0,29.28,...,0,0,0,0,0,1,0,0,0,0
3,1,2008-06-11,86,61,74,56,0.0,9.0,0.0,29.28,...,0,0,0,0,0,0,1,0,0,0
4,1,2008-06-11,86,61,74,56,0.0,9.0,0.0,29.28,...,0,0,0,0,0,0,0,1,0,0

In [49]:
test_weather.to_csv('Test_Weather_Dumb_Clean.csv', index=False)